				<delFromZip zip="${extracted.app.server.lib.global.dir}/portal-impl.jar" >
					<include name="META-INF/portal-log4j.xml"/>
					<include name="com/liferay/portal/deploy/dependencies/speed-filters-web.xml"/>
#foreach ($duplicate in ${duplicatesImpl})
					<include name="$duplicate"/>
#end
				</delFromZip>

				<delFromZip zip="${extracted.app.server.lib.global.dir}/portal-service.jar" >
#foreach ($duplicate in ${duplicatesBridges})
					<include name="$duplicate"/>
#end
				</delFromZip>
